body 
{
    text-align: center;
    font-family: arial;
    background-color: #010015;
}
#logo
{
    width: 36px;
}
#sub
{
    font-weight: lighter;
}
#cabecera
{
    background-color: #0a1535 ;
    padding: 14px;
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 30px;
}
#post
{
    margin: 40px;
}
#container h1 
{
    font-size: 50px;
}
#container
{
    width: 70%;
    border: 1px solid black; 
    font-size: 20px;
    margin: auto;
    text-align: left;
    background-color: aliceblue;
}
/* #container-text
{
    padding: 20px;
} */